Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Suppress:
    - "-Wmicrosoft-enum-forward-reference"
    - "-Wc++11-narrowing"
    - "-Wc++2b-extensions"
    - "-Wmicrosoft-cast"
CompileFlags:
  Add:
    - "-ferror-limit=0"
    - '-D__FUNCTION__="dummy"'
    - '-D__clangd__'
