x64/
**/.vs/
**/x64/
**/*.user
**/.vscode/

**/bedrock_server_api.lib
**/bedrock_server_var.lib
**/SymDB_DelayLoadHelper.lib
LiteLoader/Lib/SymDBHelper.lib
**/*.lastcodeanalysissucceeded
*.zip

/LiteLoader/out/
LiteLoaderSDK/

RELEASE/*.dll
RELEASE/LLPeEditor.exe
!RELEASE/ChakraCore.dll
RELEASE/plugins/LiteLoader/*.dll
RELEASE/plugins/LiteLoader/*.pdb
RELEASE/plugins/LiteLoader/pdb
!RELEASE/plugins/LiteLoader/CrashLogger.dll

.idea/**
!.idea/cmake.xml

cmake-build-release/
/out
LiteLoader/Lib/Demangler.pdb
LiteLoader/Lib/Demangler.lib

/build
