# Visual Studio related
/.vs
/CMakeSettings.json
/out

# Visual Studio Code related
/.vscode
/build

# Idea related
/.idea
/cmake-build-*

# Build related
**/bedrock_server_api.lib
**/bedrock_server_var.lib

# Misc
/LiteLoaderSDK

# Clangd cache
/.cache
