# Visual Studio related
/.vs/
/CMakeSettings.json

# Visual Studio Code related
/.vscode/

# Idea related
.idea/**

# Build related
/build
**/bedrock_server_api.lib
**/bedrock_server_var.lib

# Misc
LiteLoaderSDK/
/output/
/.cache/
/out/