[submodule "lib/preloader"]
	path = lib/preloader
	url = https://github.com/LiteLDev/PreLoader
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "lib/gsl"]
	path = lib/gsl
	url = https://github.com/microsoft/GSL
	branch = v2.1.0
[submodule "lib/fifo_map"]
	path = lib/fifo_map
	url = https://github.com/nlohmann/fifo_map
[submodule "lib/symdb_helper"]
	path = lib/symdb_helper
	url = https://github.com/LiteLDev/SymDBHelper
[submodule "lib/nbt_cpp"]
	path = lib/nbt_cpp
	url = https://github.com/LiteLDev/nbt-cpp
[submodule "lib/httplib"]
	path = lib/httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "lib/pcg"]
	path = lib/pcg
	url = https://github.com/imneme/pcg-cpp
[submodule "lib/entt"]
	path = lib/entt
	url = https://github.com/skypjack/entt
[submodule "prebuilt"]
	path = prebuilt
	url = https://github.com/liteLDev/prebuilt
