[submodule "RELEASE\\plugins\\LiteLoader\\ResourcePacks\\LiteLoaderBDS-CUI"]
	path = RELEASE\\plugins\\LiteLoader\\ResourcePacks\\LiteLoaderBDS-CUI
	url = https://github.com/OEOTYAN/LiteLoaderBDS-CUI
