site_name: LeviLamina
repo_url: https://github.com/LiteLDev/LeviLamina

nav:
  - Home: index.md

  - quickstart.md

  - Install:
      - install.md
      - Install on Docker: https://github.com/LiteLDev/levilamina-docker-server

  - Tutorials:
      - tutorials/ai_npc_and_assistant.md
      - tutorials/create_your_first_plugin.md
      - tutorials/customized_terrain_generation.md
      - tutorials/fly_in_survival.md
      - tutorials/more_dimensions.md
      - tutorials/publish_your_first_pack.md
      - tutorials/publish_your_first_plugin.md

  - Guides:
      - guides/event_guide.md
      - guides/export_interface_guide.md
      - guides/find_function_guide.md
      - guides/form_guide.md
      - guides/hook_guide.md
      - guides/i18n_guide.md
      - guides/item_guide.md
      - guides/permission_guide.md

  - faq.md

  - APIs: https://levilamina.liteldev.com/api

  - discuss.md

  - Engines:
    - LegacyScriptEngine: engines/legacy_script_engine.md

  - Plugins: https://lippkg.com

exclude_docs: |
  api/assets/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
  favicon: img/favicon.ico
  logo: img/logo.svg
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc
  - tables
  - pymdownx.arithmatex
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.highlight:
      auto_title: true
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist

plugins:
  - i18n:
      languages:
        - locale: en
          default: true
          name: English

        - locale: zh
          name: 中文
          nav_translations:
            Home: 主页
            Install: 安装
            Install on Docker: 在Docker上安装
            Tutorials: 教程
            Guides: 指南
            APIs: 接口
            Engines: 引擎
            Plugins: 插件

  - search
