#*#
*.Makefile
*.a
*.exe
*.idb
*.lib
*.log
*.map
*.mk
*.ncb
*.pdb
*.pyc
*.scons*
*.sdf
*.sln
*.so
*.suo
*.user
*.xcodeproj
*~
.#*
.*.sw?
.ccls-cache
.cpplint-cache
.cproject
.gclient_entries
.gdb_history
.landmines
.pydevproject
.settings
.torquelint-cache

# build
build
cmake-build-*

# IDE
.idea
.project
.vscode
.vs
/compile_commands.json
/.cache/clangd

# js
node_modules
.yarn-meta
