# this is the tencent cpp format style
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve

---
Language: ObjC
BasedOnStyle: Google
ColumnLimit: 100

---
Language: JavaScript
BasedOnStyle: Google
ColumnLimit: 100