on:
  pull_request:
    paths:
      - .github/workflows/build-docs.yml
      - docs/**
      - src/**/*.h
  push:
    paths:
      - .github/workflows/build-docs.yml
      - docs/**
      - src/**/*.h
  workflow_dispatch:

jobs:
  build-doxygen:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - run: |
          git clone --depth 1 --branch v2.3.4 https://github.com/jothepro/doxygen-awesome-css.git docs/api/doxygen-awesome-css

      - run: |
          mkdir -p site/api

      - name: Install Doxygen
        run: |
          wget -qO doxygen.tar.gz https://www.doxygen.nl/files/doxygen-1.16.1.linux.bin.tar.gz
          tar -xzf doxygen.tar.gz
          sudo cp -r doxygen-*/bin/* /usr/local/bin/
          sudo chmod +x /usr/local/bin/doxygen
          doxygen --version

      - run: |
          doxygen docs/api/Doxyfile

      - run: |
          tar -cvf artifact.tar -C site/ .

      - uses: actions/upload-artifact@v6
        with:
          name: doxygen-pages
          path: |
            artifact.tar

  build-mkdocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - run: |
          pip install -r docs/main/requirements.txt

      - run: |
          mkdocs build -f docs/main/mkdocs.yml -d ../../site

      - run: |
          tar -cvf artifact.tar -C site/ .

      - uses: actions/upload-artifact@v6
        with:
          name: mkdocs-pages
          path: |
            artifact.tar

  merge:
    needs:
      - build-doxygen
      - build-mkdocs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: artifacts/

      - name: Extract artifacts
        run: |
          mkdir site
          tar -xvf artifacts/doxygen-pages/artifact.tar -C site/
          tar -xvf artifacts/mkdocs-pages/artifact.tar -C site/

      - uses: actions/upload-pages-artifact@v4
        with:
          path: site/

  deploy:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs:
      - merge
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
