name: Build LiteLoader

on: [push]

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .
  BUILD_CONFIGURATION: Release
  Platform: X64

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1
     
    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        MSBuild.exe ./LiteLoader.sln -property:Configuration=Release
    - name: Copy Out Files
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        mkdir D:/out
        mkdir D:/out/lib
        mkdir D:/out/pdb
        copy x64\Release\*.dll D:/out
        copy x64\Release\*.lib D:/out/lib
        copy x64\Release\*.pdb D:/out/pdb
        
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: LiteLoader
        path: D:/out
