on:
  pull_request:
    paths:
      - .github/workflows/build.yml
      - src/**
      - src-server/**
      - src-client/**
      - src-test/**
      - xmake.lua
  push:
    paths:
      - .github/workflows/build.yml
      - src/**
      - src-server/**
      - src-client/**
      - src-test/**
      - xmake.lua
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target_type:
          - server
          - client
        mode:
          - debug
          - release
        tests:
          - true
          - false
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: xmake-io/github-action-setup-xmake@v1
        # with:
        #   xmake-version: branch@master

      - uses: actions/cache@v5
        with:
          path: |
            ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: |
            xmake-

      - uses: microsoft/setup-msbuild@v2

      - run: |
          xmake repo -u

      - run: |
          xmake f -a x64 -m ${{ matrix.mode }} -p windows -v -y --target_type=${{ matrix.target_type }} --tests=${{ matrix.tests }}

      - run: |
          xmake -v -y

      - uses: actions/upload-artifact@v6
        with:
          name: levilamina-${{ github.sha }}-${{ matrix.target_type }}-${{ matrix.mode }}${{ matrix.tests == true && '-tests' || '' }}-windows-x64
          path: |
            bin/

  upload-to-sentry:
    needs: build
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        target_type:
          - server
          - client
        mode:
          - debug
          - release
        tests:
          - true
          - false
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - uses: matbour/setup-sentry-cli@v2
        with:
          token: ${{ SECRETS.SENTRY_TOKEN }}
          organization: ${{ SECRETS.SENTRY_ORG }}
          project: ${{ SECRETS.SENTRY_PROJECT }}

      - uses: actions/download-artifact@v6
        with:
          name: levilamina-${{ github.sha }}-${{ matrix.target_type }}-${{ matrix.mode }}${{ matrix.tests == true && '-tests' || '' }}-windows-x64
          path: artifact

      - run: |
          sentry-cli debug-files upload --include-sources artifact
