name: CMake

on:
  push:
    branches: [feature/cmake-*]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v2

      - name: Download Server
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: |
          mkdir Tools/Server
          ServerLink=$(cat 'Scripts/LINK.txt')
          curl -L -o Tools/Server/server.zip "$ServerLink"
          unzip Tools/Server/server.zip -d Tools/Server/ > /dev/null
        shell: bash

      - name: Build Library
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: |
          cd Tools
          LibraryBuilder.exe Server
        shell: cmd

      - name: Configure CMake(ClangCL)
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -T clangcl

      - name: Build SymDBHelper
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --target SymDBHelper

      - name: Configure CMake(MSVC)
        run: |
          rm -r build
          cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -T v143
        shell: bash

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}}

      - name: Pack Release
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: |
          cd Scripts
          ./PackRelease.cmd action
        shell: cmd

      - name: Pack SDK
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: |
          cd Scripts
          ./PackSDK.cmd action
        shell: cmd

      - name: Upload LiteLoader
        uses: actions/upload-artifact@v2
        with:
          name: LiteLoader
          path: ${{ github.workspace }}\RELEASE\

      - name: Upload LiteLoader SDK
        uses: actions/upload-artifact@v2
        with:
          name: LiteLoader-SDK
          path: ${{ github.workspace }}\LiteLoader-SDK.zip