on:
  release:
    types:
      - published

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target_type:
          - server
          - client
        mode:
          - debug
          - release
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: xmake-io/github-action-setup-xmake@v1
        # with:
        #   xmake-version: branch@master

      - uses: actions/cache@v5
        with:
          path: |
            ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: |
            xmake-

      - uses: microsoft/setup-msbuild@v2

      - run: |
          xmake repo -u

      - run: |
          xmake f -a x64 -m ${{ matrix.mode }} -p windows -v -y --target_type=${{ matrix.target_type }} --publish=y

      - run: |
          xmake -v -y

      #   - run: |
      #       xmake package -v -y

      - uses: actions/upload-artifact@v6
        with:
          name: levilamina-${{ github.sha }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64
          path: |
            bin/

  upload-to-sentry:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        target_type:
          - server
          - client
        mode:
          - debug
          - release
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - uses: matbour/setup-sentry-cli@v2
        with:
          token: ${{ SECRETS.SENTRY_TOKEN }}
          organization: ${{ SECRETS.SENTRY_ORG }}
          project: ${{ SECRETS.SENTRY_PROJECT }}

      - uses: actions/download-artifact@v7
        with:
          name: levilamina-${{ github.sha }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64
          path: artifact

      - run: |
          sentry-cli debug-files upload --include-sources artifact

  update-release-notes:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Validate release stuff (tooth.json, CHANGELOG.md, etc.)
        run: |
          npm i -g keep-a-changelog
          python scripts/validate_release.py --tag ${{ github.event.release.tag_name }}

      - id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v3

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          body: |-
            ${{ steps.extract-release-notes.outputs.release_notes }}

            | File | SHA256 |
            | ---- | ------ |

  upload-to-release:
    needs:
      - build
      - update-release-notes
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target_type:
          - server
          - client
        mode:
          - debug
          - release
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: levilamina-${{ github.sha }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64
          path: artifact

      - run: |
          cp CHANGELOG.md COPYING COPYING.LESSER README.md artifact/

      - run: |
          zip -r ../levilamina-${{ github.event.release.tag_name }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64.zip *
        working-directory: artifact

      - id: calculate-sha256
        run: |
          echo sha256=$(sha256sum levilamina-${{ github.event.release.tag_name }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64.zip | awk '{print $1}') >> $GITHUB_OUTPUT

      - name: Prepare SHA row
        run: |
          echo "| levilamina-${{ github.event.release.tag_name }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64.zip | ${{ steps.calculate-sha256.outputs.sha256 }} |" > sha-row.txt

      - uses: actions/upload-artifact@v7
        with:
          name: sha-row-${{ matrix.target_type }}-${{ matrix.mode }}
          path: sha-row.txt

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          files: |
            levilamina-${{ github.event.release.tag_name }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64.zip

  finalize-release-body:
    needs: upload-to-release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          pattern: sha-row-*
          path: rows

      - id: collect-sha-rows
        run: |
          find rows -name "sha-row.txt" -print -exec cat {} \; > table_rows.txt
          echo "rows<<'EOF'" >> $GITHUB_OUTPUT
          cat table_rows.txt >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - uses: softprops/action-gh-release@v2
        with:
          append_body: true
          tag_name: ${{ github.event.release.tag_name }}
          body: ${{ steps.collect-sha-rows.outputs.rows }}

  dispatch-client-version-db:
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch levilamina-client-version-db
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.VERSIONDB_PAT }}
          repository: LiteLDev/levilamina-client-version-db
          event-type: update-db
